@tailwind base;
@tailwind components;
@tailwind utilities;

.backg-primary{
    background: transparent linear-gradient(91deg, #319795 0%, #3182CE 100%) 0% 0% no-repeat padding-box;
}
.backg-secondary{
    background: transparent linear-gradient(141deg, #EBF4FF 0%, #E6FFFA 100%) 0% 0% no-repeat padding-box;
}

.text-primary{
    color:#319795;
}

.text-header{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font: normal normal medium 42px/50px Lato;
    letter-spacing: 1.26px;
    color: #2D3748;
    opacity: 1;
    font-size: 42px;
}
.backg-agree{
    top: 192px;
    margin-left: -12px;
    right: 0;
    height: 405px;
    background: transparent url('~/assets/img/undraw_agreement_aajr.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    z-index:1
}

.shadow-top{
    box-shadow: 0px -1px 3px #00000033;
}

.text-btn{
    font: normal normal 600 14px/17px Lato;
    letter-spacing: 0.84px;
    color: #E6FFFA;
}
.text-header-bottom{
    text-align: center;
    font: normal normal medium 21px/25px Lato;
    letter-spacing: 0px;
    color: #4A5568;
    opacity: 1;
    font-size: 21px;
}

.backg-ball{
    top: 908px;
    margin-left: -34px;
    width: 208px;
    height: 208px;
    background: #F7FAFC 0% 0% no-repeat padding-box;
    opacity: 0.5;
}

.numbering-container-two{
    height: 370px;
    background: transparent linear-gradient(134deg, #E6FFFA 0%, #EBF4FF 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}
.numbering{
    text-align: left;
    font: normal normal normal 130px/156px Lato;
    letter-spacing: 0px;
    color: #718096;
    opacity: 1;
    display: inline;
}
.numbering-one{
    margin-top: -70px;
}
.numbering-two{
    margin-top: -70px;
    margin-left: 20px;
}

.backg-one{
    margin-top: 10%;
    margin-left: 30%;
    right: 0;
    width: 220px;
    height: 145px;
    /* background: transparent url('~/assets/img/undraw_Profile_data_re_v81r.svg') 0% 0% no-repeat padding-box; */
    opacity: 1;
    z-index:1
}
.backg-two{
    margin-top: 10%;
    margin-left: 20%;
    right: 0;
    width: 259px;
    height: 179px;
    /* background: transparent url('~/assets/img/undraw_task_31wc.svg') 0% 0% no-repeat padding-box; */
    opacity: 1;
    z-index:1
}
.backg-three{
    margin-top: 10%;
    margin-left: 23%;
    right: 0;
    width: 281px;
    height: 210px;
    /* background: transparent url('~/assets/img/undraw_personal_file_222m.svg') 0% 0% no-repeat padding-box; */
    opacity: 1;
    z-index:1
}
.text-detail-one,.text-detail-two{
    text-align: left;
    font: normal normal normal 16px/19px Lato;
    letter-spacing: 0.47px;
    color: #718096;
    opacity: 1;
    display: inline;
    margin-left: 30px;
}
.text-detail-three{
    text-align: left;
    font: normal normal normal 16px/19px Lato;
    letter-spacing: 0.47px;
    color: #718096;
    opacity: 1;
    display: absolute;
    width: 150px;
    margin-left: 180px;
    margin-top: -70px;
}
.container-change{
    padding-bottom: 300px;
}

.segmented-active{
    background: #81E6D9 0% 0% no-repeat padding-box;
    color:white;
}