<template>
  <div class="relative flex items-top justify-center min-h-screen backg-primary sm:items-center sm:pt-0">
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <div class="w-screen mx-auto sm:px-6 lg:px-8 mt-2 h-360">
      <div class="backg-secondary w-full h-100% mt-2 pt-2 relative">
        <div class="bg-white w-screen shadow sm:rounded-lg h-20 rounded-b-xl shadow-lg fixed top-0 left-0 right-0 z-50">
          <div class="backg-primary h-2"></div>
          <p class="text-right pr-2 text-xl tracking-widest text-primary py-7 fixed top-0 left-0 right-4">Login</p>
        </div>
        <div class="bg-white w-screen sm:rounded-lg h-20 px-4 rounded-t-xl shadow-xl shadow-top fixed bottom-0 left-0 right-0 z-50">
          <button class="rounded-full py-2 backg-primary w-full align-middle mt-5 h-10"><p class="text-btn">Kostenlos Registrieren</p></button>
        </div>
        <p class="text-center tracking-widest text-header pt-16 px-8">Deine Job website</p>
        <div class="backg-agree">
        </div>
        
       
      </div>
      <div class="bg-white container-change">
        <div class="overflow-x-hidden">
          <div class="bg-white border rounded-xl w-200 mt-4 mx-4" style="height: 40px;width: 480px;" :style="[selectedTab === 'segment1' ? {marginLeft:'20px'} :selectedTab === 'segment2' ? {marginLeft:'-12%'} : {marginLeft:'-35%'} ]">
            <div class="relative flex items-center">

              <!-- tab dividers -->
              <div class="absolute w-full">
                <div class="w-1/3 flex justify-between m-auto">
                  <div class="h-6 w-px bg-gray-400 rounded-full opacity-0 transition-opacity duration-100 ease-in-out" :class="{ 'opacity-100': selectedTab === 'segment3'}"></div>
                  <div class="h-6 w-px bg-gray-400 rounded-full opacity-0 transition-opacity duration-100 ease-in-out" :class="{ 'opacity-100': selectedTab === 'segment1'}"></div>
                </div>
              </div>

              <!-- white sliding tab block -->
              <div class="absolute left-0 right-0 inset-y-0 w-1/3 flex transition-all ease-in-out duration-200 transform rounded-md shadow segmented-active" :class="{'translate-x-0': selectedTab === 'segment1', 'translate-x-full': selectedTab === 'segment2', 'translate-x-80': selectedTab === 'segment3'}"></div>

              <!-- clickable buttons -->
              <div style="height:38px;" class="relative flex-1 flex text-sm font-semibold capitalize items-center justify-center cursor-pointer m-px p-px" :class="[selectedTab === 'segment1' ? 'text-white' : 'text-primary']"  @click="selectedTab = 'segment1'">Arbeitnehmer</div>
              <div style="height:38px;" class="relative flex-1 flex text-sm font-semibold capitalize items-center justify-center cursor-pointer m-px p-px" :class="[selectedTab === 'segment2' ? 'text-white' : 'text-primary']"  @click="selectedTab = 'segment2'">Arbeitgeber</div>
              <div style="height:38px;" class="relative flex-1 flex text-sm font-semibold capitalize items-center justify-center cursor-pointer m-px p-px" :class="[selectedTab === 'segment3' ? 'text-white' : 'text-primary']"  @click="selectedTab = 'segment3'">Temporärbüro</div>

            </div>
          </div>
        </div>
        <p class="text-center tracking-widest text-header pt-16 px-8 text-header-bottom">{{selectedTab === 'segment1' ?  data.textHeader1 : selectedTab === 'segment2' ?  data.textHeader2 : data.textHeader3}}</p>
        <div class="backg-ball rounded-full absolute">
        
        </div>
        <div class="numbering-container">
          <div :style="[selectedTab === 'segment1' ? {background:data.img11} : selectedTab === 'segment2' ? {background:data.img21} : {background:data.img31} ]" class="backg-one">
          </div>
          <div class="numbering numbering-one pl-2">1.</div>
          <p class="text-detail-one">{{selectedTab === 'segment1' ?  data.textDetail11 : selectedTab === 'segment2' ?  data.textDetail21 : data.textDetail31}}</p>
        </div>
        <div class="numbering-container-two">
          <div class="numbering numbering-two pl-4">2.</div>
          <p class="text-detail-two">{{selectedTab === 'segment1' ?  data.textDetail12 : selectedTab === 'segment2' ?  data.textDetail22 : data.textDetail32}}</p>
          <div :style="[selectedTab === 'segment1' ? {background:data.img12} : (selectedTab === 'segment2' ? {background:data.img22} : {background:data.img32}) ]" class="backg-two">
          </div>
        </div>
        <div class="numbering-container">
          <div class="numbering numbering-two pl-4">3.</div>
          <p class="text-detail-three">{{selectedTab === 'segment1' ?  data.textDetail13 : selectedTab === 'segment2' ?  data.textDetail23 : data.textDetail33}}</p>
          <div :style="[selectedTab === 'segment1' ? {background:data.img13} : selectedTab === 'segment2' ? {background:data.img23} : {background:data.img33} ]" class="backg-three">
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'IndexPage',
  data() {
      return {
        selectedTab: 'segment1',
        data:{
          textHeader1:'Drei einfache Schritte zu deinem neuen Job',
          textDetail11:'Erstellen dein Lebenslauf',
          textDetail12:'Erstellen dein Lebenslauf',
          textDetail13:'Mit nur einem Klick bewerben',
          img11:"transparent url('" + require('../assets/img/undraw_Profile_data_re_v81r.svg') + "') 0% 0% no-repeat padding-box",
          img12:"transparent url('" + require('../assets/img/undraw_task_31wc.svg') + "') 0% 0% no-repeat padding-box",
          img13:"transparent url('" + require('../assets/img/undraw_personal_file_222m.svg') + "') 0% 0% no-repeat padding-box",

          textHeader2:'Drei einfache Schritte zu deinem neuen Mitarbeiter',
          textDetail21:'Erstellen dein Unternehmensprofil',
          textDetail22:'Erstellen ein Jobinserat',
          textDetail23:'Wähle deinen neuen Mitarbeiter aus',
          img21:"transparent url('" + require('../assets/img/undraw_Profile_data_re_v81r.svg') + "') 0% 0% no-repeat padding-box",
          img22:"transparent url('" + require('../assets/img/undraw_about_me_wa29.svg') + "') 0% 0% no-repeat padding-box",
          img23:"transparent url('" + require('../assets/img/undraw_swipe_profiles1_i6mr.svg') + "') 0% 0% no-repeat padding-box",


          textHeader3:'Drei einfache Schritte zur Vermittlung neuer Mitarbeiter',
          textDetail31:'Erstellen dein Unternehmensprofil',
          textDetail32:'Erhalte Vermittlungs- angebot von Arbeitgeber',
          textDetail33:'Vermittlung nach Provision oder Stundenlohn',
          img31:"transparent url('" + require('../assets/img/undraw_Profile_data_re_v81r.svg') + "') 0% 0% no-repeat padding-box",
          img32:"transparent url('" + require('../assets/img/undraw_job_offers_kw5d.svg') + "') 0% 0% no-repeat padding-box",
          img33:"transparent url('" + require('../assets/img/undraw_business_deal_cpi9.svg') + "') 0% 0% no-repeat padding-box",

        }
      }
    },
}
</script>